# Curse Client Files

.curseclient
minecraftinstance.json

# Client files

/.mixin.out
/armourers_workshop
/asm
/backups
/journeymap
/llibrary
/local
/logs
/mods
/saves

config/AppliedEnergistics2/items.csv
config/laser_drill_ores/default_ores.json
config/littletiles-client.json
config/jei/worldSettings.cfg
config/oauth.cfg
resources/pack.mcmeta
simple-rpc/server-entries.toml

BotaniaVars.dat
crafttweaker.log
knownkeys.txt
OpenComputersMod*.dll
options.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
