# Curse App files

.curseclient
minecraftinstance.json

# GDLauncher files

/natives
config*.json

# Client only directories and files

/.mixin.out
/armourers_workshop
/asm
/backups
/crash-reports
/downloads
/dumps
/encyclopedia-servers
/journeymap
/llibrary
/local
/logs
/mods
/saves
/tmp
/simple-rpc
config/biomesoplenty/biomes/defaults/*
config/biomesoplenty/biomes_ids.json
config/jei/worldSettings.cfg
config/jei/bookmarks.ini
config/jei/lookupHistory.zip
config/littletiles-client.json
config/oauth.cfg
BotaniaVars.dat
crafttweaker.log
knownkeys.txt
options.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json

# Bloat

config/creativecor*.json
config/acronym/*
config/opencomputers/*.recipes
config/splash.properties
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/items.csv
config/laser_drill_ores/default_ores.json
config/littletiles.json
config/machinemuse/missingConfigDoubles.txt
config/icbmclassic/explosive_reg.json
config/InvTweaks/*
config/InvTweaks.cfg
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/worldedit/*
resources/pack.mcmeta
OpenComputersMod*.dll

# Do not ignore server files
!/server_files
