# Configuration file

general {
    # Enables fusion furnace recycling recipes for Simple Golden Glitter: Gold Alloys [default: false]
    B:"Enable Simple Golden Glitter: Gold Alloys recycling recipes?"=false
    B:"Make Erubescent Gold Blocks sparkle, true or false"=true
    B:"Make Hephaestan Gold Blocks sparkle, true or false"=true
    B:"Make Red Gold Rails sparkle: true or false?"=true
    B:"Make Rose Gold Blocks Hideous, false or true"=false
    B:"Make Scarlatite Gold Blocks sparkle, true or false"=true
    B:"Works on Mo'Creatures lycanthropes, true or false"=true
}


"setting toggles" {
    # Enables configuration of Armor stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Armor Stat Modification?"=false

    # Enables configuration of Block stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Block Stat Modification?"=false

    # Enables Custom World Generation. Allows custom rules to be set. Relaunch the game to generate the new settings. [default: false]
    B:"(Advanced) Enable Custom Generation?"=true

    # Enables configuration of Tool stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Tool Stat Modification?"=false
}


