# Configuration file

"cobalt ore worldgen" {
    # Controls the max spawn height of Cobalt Ore. [range: 0 ~ 255, default: 32]
    I:"Cobalt Maximum Spawn Height"=32

    # Controls the min spawn height of Cobalt Ore. [range: 0 ~ 255, default: 0]
    I:"Cobalt Minimum Spawn Height"=0

    # Controls the spawn rate of Cobalt Ore. [range: 0 ~ 5000, default: 6]
    I:"Cobalt Spawn Rate"=6

    # Controls the max vein size of Cobalt Ore. [range: 0 ~ 5000, default: 6]
    I:"Cobalt Vein Size"=6
}


general {
    # Enables fusion furnace recycling recipes for Simple Cobalt, and Cobalt alloys [default: false]
    B:"Enable Simple Cobalt, and Cobalt alloys recycling recipes?"=false
}


"setting toggles" {
    # Enables configuration of Armor stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Armor Stat Modification?"=false

    # Enables configuration of Block stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Block Stat Modification?"=false

    # Enables Custom World Generation. Allows custom rules to be set. Relaunch the game to generate the new settings. [default: false]
    B:"(Advanced) Enable Custom Generation?"=true

    # Enables configuration of Tool stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Tool Stat Modification?"=false
}


