# Configuration file

general {
    # Enables fusion furnace recycling recipes for Sterling & Black [default: false]
    B:"Enable Sterling & Black recycling recipes?"=false

    # Make Sterling Steel blocks sparkle, true or false? [default: false]
    B:"Make Me Sparkle"=false

    # Black Silver affects Mo'Creatures lycanthropes like silver, true or false [default: true]
    B:"Works on MoCreatures lycanthropes"=true
}


"setting toggles" {
    # Enables configuration of Armor stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Armor Stat Modification?"=false

    # Enables configuration of Block stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Block Stat Modification?"=false

    # Enables Custom World Generation. Allows custom rules to be set. Relaunch the game to generate the new settings. [default: false]
    B:"(Advanced) Enable Custom Generation?"=true

    # Enables configuration of Tool stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Tool Stat Modification?"=false
}


