# Configuration file

####################
# block
####################

block {
    I:darkIronOre=1014

    # Factorization TileEntities
    I:factoryBlockId=1010
    I:fracturedBedrockBlockId=1013

    # WrathFire and invisible lamp-air made by WrathLamps
    I:lightAirBlockId=1011

    # Ores and metal blocks mostly
    I:resourceBlockId=1012
}


####################
# client
####################

client {
    B:allowUnpureCommands=true

    # Lets you use the bag from GUIs
    B:anywhereBagSwap=true

    # Lets you open the pocket crafting table from GUIs
    B:anywherePocketCraft=true

    # Show invisible lamp-air
    B:debugLightAir=false

    # If true, enables a thread that dumps a stack trace of Minecraft if it is paused for longer than lagWatchDogInterval
    B:enableLagWatchDog=false

    # Remove nether fog at short render distances
    B:fixNetherFog=true

    # Make middle clicking more useful
    B:fixPickBlock=false

    # If the game is stuck for longer than this amount of time (in seconds), dump a stacktrace of what it is doing.
    D:lagWatchDogInterval=0.25

    # Render servo instructions extra-large. This can also be toggled on and off using '/f servoInstructionSize'.
    B:largeServoInstructions=false

    # Sets a lower bound on time dilation. Between 0 and 1.
    D:lowestTimeDilation=0.6000000238418579

    # 3 keys for: removing (x), cycling (c), balancing (b)
    S:pocketCraftingActionKeys=xcbf

    # If false, never use smooth lighting for drawing sculptures
    B:renderAmbientOcclusion=true

    # If true, render barrel info only when nearby
    B:renderBarrelClose=true
    B:renderBarrelItem=true
    B:renderBarrelText=true

    # If false, most TEs won't draw, making everything look broken but possibly improving FPS
    B:renderOtherTileEntities=true

    # If this is enabled, the client will run as slowly as the server does. This avoids visual artifacts on laggy servers.
    B:useTimeDilation=true
}


####################
# dimensionslices
####################

dimensionslices {
    # work in progress; may be unstable
    B:enableDimensionSlices=false
}


####################
# general
####################

general {
    B:addBranding=false
    I:entityRelightTask=3

    # Set to false to disable broken bedrock spawning around dark iron ore
    B:generateBrokenBedrock=true

    # Set to false to disable dark iron ore generation
    B:generateDarkIronOre=true

    # Set to false to disable silver ore generation
    B:generateSilverOre=false

    # The size of silver ore nodes. Between 5 & 35. Default is 18
    I:silverOreNodeNewSize=18
}


####################
# item
####################

item {
    I:acid=9224
    I:actuatorItemManipulator=9258
    I:angularSaw=9242
    I:bagOfHolding=9201
    I:barrelEnlarge=9232
    I:battery=9233
    I:chargemeter=9229
    I:coil=9226
    I:darkIron=9208
    I:darkIronSprocket=9259
    I:daybarrelItem=9262
    I:diamondCuttingHead=9238
    I:diamondShard=9206
    I:docbook=9267
    I:fan=9228
    I:glazeBucket=9255
    I:heatHole=9246
    I:instructionPlate=9265
    I:inverium=9240
    I:itemCraftId=9200
    I:leadIngot=9214
    I:logicMatrix=9244
    I:logicMatrixCtrl=9263
    I:logicMatrixID=9245
    I:logicMatrixProgrammer=9243
    I:magnet=9225
    I:mirror=9230
    I:motor=9227
    I:netherPowder=9250
    I:oreCleanGravel=9235
    I:oreCrystal=9237
    I:oreDirtyGravel=9234
    I:oreReduced=9236
    I:pocketCraftingTable=9202
    I:routerEject=9231
    I:routerItemFilter=9216
    I:routerMachineFilter=9217
    I:routerSpeed=9218
    I:routerThorough=9219
    I:routerThroughput=9220
    I:sculptTool=9241
    I:servoCommenter=9266
    I:servoMotor=9260
    I:servoMotorPlacer=9256
    I:servoWidgetDecor=9257
    I:servoWidgetInstruction=9261
    I:silverIngot=9215
    I:sludge=9239
    I:socketPart=9264
    I:steam=9249
    I:wandOfCooling=9205
    I:wrathIgniter=9207
}


####################
# retrogen
####################

retrogen {
    B:enableRetrogen=false
    B:retrogenDarkIron=false
    S:retrogenKey=DEFAULT
    B:retrogenSilver=false
}


####################
# server
####################

server {
    # This is a Java Regex to blacklist router access
    S:bannedRouterInventoriesRegex=

    # Adds recipes for bark variants of logs
    B:barkRecipes=true

    # If false, water must be piped in
    B:boilersSuckWater=true

    # Naming entities gives them +5 hearts
    B:buffedNametags=true

    # Set to false to disable the crafting recipe for solar2steam machines
    B:enableSolarSteam=true

    # Causes some mobs to rarely spawn wearing your armor
    B:equalOpportunitiesForMobs=true

    # If set to false, fanturpellers will not move players.
    B:fanturpellerWorksOnPlayers=true

    # Makes projectiles start with the velocity of the thrower
    B:properProjectilePhysics=true

    # If false, notifications will be translated by the client
    B:serversideTranslate=false
    B:spreadWrathFire=true

    # Scale how much steam is produced by the solar boiler
    D:steamOutputAdjustment=1.0

    # If true, maximum clay lump volume is 1 m³ instead of (1 m³)/4
    B:stretchyClay=true

    # How many ticks the server will wait before sending out TPS reports. 20 ticks = 1 second, unless it's lagging.
    I:tpsReportInterval=20
}


