# Configuration file

####################
# block
####################

block {
    # The id of the glasses bridge
    I:blockGlassesBridgeId=1235

    # The id of the pim block
    I:blockPIMId=1237

    # The id of the peripheral proxy
    I:blockPeripheralProxyId=1236

    # The id of the sensor block
    I:blockSensorId=1239

    # The id of the ticket machine block
    I:blockTicketMachineId=1238
}


####################
# general
####################

general {
    S:cacheFile=OpenPeripheral_methods.json
    I:cacheInterval=7
    I:cellsPerRedstone=3
    I:currentVersion=0.2.1
    S:dataUrl=https://raw.github.com/mikeemoo/OpenPeripheral/master/methods_new.json
    B:enableAnalytics=true
    B:enabledExtendedInventory=true
    B:robotsEnabled=true
}


####################
# item
####################

item {
    # The id of the generic item
    I:itemGenericId=4057

    # The id of the glasses
    I:itemGlassesId=4055
}


####################
# misc
####################

misc {
    # Should turtles with OPA updates be visible in creative
    B:addTurtlesToCreative=false
}


####################
# sensor
####################

sensor {
    # 
    I:normalRange=5

    # 
    I:rangeInStorm=5
}


