# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=f946e590-f05d-4b14-870e-d31380b9b0a0

    # Set to true to disable all reporting
    B:opt-out=false
}


