# Configuration file

####################
# arrowconfig
####################

arrowconfig {
    S:"CraftedStackSize Confusing Arrow"=4
    S:"CraftedStackSize Dirt Arrow"=4
    S:"CraftedStackSize Exploding Arrow"=4
    S:"CraftedStackSize Fire Arrow"=4
    S:"CraftedStackSize Frost Arrow"=4
    S:"CraftedStackSize Penetrating Arrow"=4
    S:"CraftedStackSize Redstonetorch Arrow"=4
    S:"CraftedStackSize Rope Arrow"=4
    S:"CraftedStackSize Seed Arrow"=4
    S:"CraftedStackSize Slime Arrow"=4
    S:"CraftedStackSize Torch Arrow"=4
    S:"CraftedStackSize Warp Arrow"=4
    S:"Damage Confusing Arrow"=4
    S:"Damage Dirt Arrow"=4
    S:"Damage Exploding Arrow"=4
    S:"Damage Fire Arrow"=4
    S:"Damage Frost Arrow"=4
    S:"Damage Penetrating Arrow"=4
    S:"Damage Redstonetorch Arrow"=4
    S:"Damage Rope Arrow"=4
    S:"Damage Seed Arrow"=4
    S:"Damage Slime Arrow"=4
    S:"Damage Torch Arrow"=4
    S:"Damage Warp Arrow"=4
}


####################
# ""arrows enabled""
####################

"""arrows enabled""" {
    B:"Confusing Arrow"=true
    B:"Dirt Arrow"=true
    B:"Exploding Arrow"=true
    B:"Fire Arrow"=true
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Redstonetorch Arrow"=true
    B:"Rope Arrow"=true
    B:"Seed Arrow"=true
    B:"Slime Arrow"=true
    B:"Torch Arrow"=true
    B:"Warp Arrow"=true
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=3602
    I:blockIdRope=3603
    I:blockIdRopeDJRoslin=3601
    I:blockIdZipLineAnchor=3600
}


####################
# general
####################

general {
    B:"Equipped Bow Tool Tip"=true
    I:"GUI String x coordinate, higher value means more to the right"=2
    I:"GUI String y coordinate, higher value means lower"=10
    B:disableBowHook=false
    I:"max HookShot Rope Length"=50
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=31734
    I:itemIdArrowDirt=31733
    I:itemIdArrowExplosion=31732
    I:itemIdArrowFire=31731
    I:itemIdArrowGrass=31730
    I:itemIdArrowIce=31729
    I:itemIdArrowLaser=31728
    I:itemIdArrowRedstoneTorch=31743
    I:itemIdArrowRope=31727
    I:itemIdArrowSlime=31726
    I:itemIdArrowTorch=31725
    I:itemIdArrowWarp=31724
    I:itemIdGrapplingHook=31480
    I:itemIdHookShot=31467
    I:itemIdHookshotCartridge=31466
    I:itemIdRope=31737
    I:itemIdRopesPlusBow=31479
}


