# Configuration file

crafting {
    B:"Enable quick crafting"=true
}


entities {
    B:"Chickens periodically drop feathers"=true
}


explosives {
    B:"Creepers use custom explosives"=true
    I:"Custom Creeper Power"=3
    B:"Explosions fracture stone"=true
    B:"TNT uses custom exploives"=true
}


"finite torches" {
    I:"0 = disable finite torches, 1 = Relight torches with a right click, 2= relight torches with a flint and steel only"=1
    I:"Average Torch lifespan"=5
}


gravity {
    S:"Block name and number of identical blocks above requried to prevent falling if disturbed by player"=
    B:"Enable damage from falling cobblestone and dirt"=true
}


items {
    B:"Enable home scrolls"=true
}


mining {
    S:"Mining speed modifiers"=minecraft:stone@0.15,minecraft:sandstone@0.3,UndergroundBiomes:igneousStone@0.05,UndergroundBiomes:metamorphicStone@0.2,UndergroundBiomes:sedimentaryStone@0.3
    B:"Ores fracture adjacent blocks when mined"=true
    S:"Ores to add for fracturing- modname:blockname"=minecraft:emerald_ore
    I:"Stone break speed % modifier"=20
    B:"Stone fractures before breaking"=true
    I:"TCon Hammer break speed % modifier on non-stone blocks"=10
    I:"UBC Igneous break speed % modifier"=10
    I:"UBC Metamorphic break speed % modifier"=30
    I:"UBC Sandstone break speed % modifier"=50
    I:"UBCS Sedimentary Stone break speed % modifier"=50
}


"name getter" {
    B:"When a player places a block, print out the blocks name"=false
}


ore {
    I:"Nitre spawn rate"=4
    I:"Sulfur spawn rate"=4
}


